/* Title Styling */
.swal-title {
    font-family: "Montserrat", sans-serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
    color: darkred !important; /* Text color */
}

/* Text Styling */
.swal-text {
    font-family: "Montserrat", sans-serif !important;
    font-size: 16px !important;
    color: black !important; /* Text color */
}

/* Popup Styling */
.swal-popup {
    width: 450px !important;
    border-radius: 12px !important;
    padding: 20px !important;
    background-color: white !important; /* Background color */
}

/* Confirm Button Styling */
.swal-button {
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 8px 16px !important;
    font-family: "Montserrat", sans-serif !important;
}

.swal-cancel-button {
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 8px 16px !important;
    font-family: "Montserrat", sans-serif !important;
}
